@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Solway:wght@300;400;500;700;800&family=Sono:wght,MONO@200..800,1&family=Sora:wght@100..800&family=Spinnaker&family=Telex&family=Tilt+Warp&display=swap");
/* layouts */
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    Rialta,
    Helvetica Neue,
    Helvetica,
    Roboto,
    sans-serif !important;
  /* font-family: "DM Sans", sans-serif !important; */
  font-size: 13px;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  margin: 0;
}
.profile-layout {
  min-height: calc(100vh - 70px - 300px);
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  width: 100%;
}

/* layouts */

.poppins {
  font-family: "Poppins", sans-serif;
}
.fredoka {
  font-family: "Fredoka", sans-serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
iframe {
  width: 100%;
  height: 350px;
}
.map_img {
  width: 150px !important;
  height: 100px !important;
}

.cardheight {
  height: calc(100% - 0px);
}

._failed {
  border-bottom: solid 4px red !important;
}
._failed i {
  color: red !important;
}

._success {
  box-shadow: 0 15px 25px #00000019;
  padding: 45px;
  width: 100%;
  text-align: center;
  margin: 40px auto;
  border-bottom: solid 4px #28a745;
}

._success i {
  font-size: 55px;
  color: #28a745;
}

._success h2 {
  margin-bottom: 12px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 10px;
}

._success p {
  margin-bottom: 0px;
  font-size: 18px;
  color: #495057;
  font-weight: 500;
}

.css-1113vek-option {
  background-color: #92a3a396 !important;
}
.css-xbcl8m-option {
  background-color: #fff !important;
}

.gm-ui-hover-effect {
  /* background-color: green !important; */
  /* width: 24px !important; */
  /* height: 24px !important; */
  padding: 0;
}
.gm-style-iw-chr {
  display: flex !important;
  overflow: visible !important;
}
.gm-style-iw-ch {
  flex-shrink: 1 !important;
}

/*Service status Pdf */

.pdf-wrapper {
  height: 150px;
  overflow: hidden;
  border: none;
  position: relative;
  background-color: white;
  cursor: pointer;
}

.pdf-hidden-scroll {
  width: 370px;
  height: 150px;
  border: none;
  pointer-events: none;
  transform: translateX(-10px);
  transform: translate(-10px, -10px);
  overflow: hidden;
}

.image-wrapper {
  position: relative;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.offer_tag_property {
  position: absolute;
  top: 7px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  z-index: 2;
}
.offer_tag_property_preview {
  position: absolute;
  top: 7px;
  right: 10px;
  background: linear-gradient(90deg, #ff3b3b, #ff6b00);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  z-index: 2;
}

.p-tabview-nav li.p-highlight .p-tabview-nav-link {
  /* background-color: #f0f0f0 !important; */
  color: black !important;
}

/* Override inactive tab header */
.p-tabview-nav .p-tabview-nav-link {
  /* background-color: #e0e0e0 !important; */
  color: gray !important;
}

/* style={{ border: "1px solid rgb(217, 29, 29)", fontSize: "13px", fontWeight: "600", outline: "none" }} */
.card_remove_btn {
  border: 1px solid rgb(217, 29, 29);
  font-size: 13px;
  font-weight: 600;
  outline: none;
  background-color: red;
  color: white;
}

.section_container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* map viwe responsive */
@media (max-width: 1024px) and (min-width: 768px) {
  .all_property_title {
    font-size: 20px !important;
  }
}

/* lyout booking...................................................................css */
/* .layout-page {
  font-family: "Poppins", sans-serif;
} */
.layout-page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.layout-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 100px;
}

.brand-title {
  color: #0000ff;
  letter-spacing: 1px;
}

.location-text {
  color: #666;
  font-weight: 500;
}

.plot-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 10px;
}

.plot-card {
  position: relative;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  /* border: 2px solid transparent; */
  border: 2px solid #d0d0e1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.plot-card:hover {
  transform: translateY(-5px);
  border-color: #0000ff;
}

.plot-card.selected {
  border: 2px solid #0000ff;
  background: #eef1ff;
}

.plot-card.sold {
  background: #ffe5e5;
  cursor: not-allowed;
  opacity: 0.8;
  border: 2px solid #f05b5b;
}

.sold-badge {
  position: absolute;
  top: 3px;
  right: 3px;
  background: red;
  color: white;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 12px;
}

.booking-summary {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 255, 0.1);
  border-top: 4px solid #0000ff;
}

.btn-book {
  background: #0000ff;
  color: white;
  border: none;
  padding: 12px;
  /* border-radius: 8px; */
  font-weight: 600;
  transition: 0.3s;
}

.btn-book:hover {
  background: #0015ff;
}

.location-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 8px;
}

.line {
  height: 1.5px;
  width: 25px;
  /* background: linear-gradient(to right, transparent, #0000ff, transparent); */
  background: linear-gradient(to right, transparent, #666, transparent);
  border-radius: 2px;
}
.tick-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #0000ff;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 255, 0.4);
  border: 3px solid #fff;
  z-index: 2;
}

.bottom-booking-card {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.08);
  padding: 15px 25px;
  z-index: 999;
  animation: slideUp 0.3s ease-in-out;
}

.booking-info {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-btn {
  background-color: #0000ff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 0px;
  font-weight: 600;
  transition: 0.3s ease;
}
.book-btn-cancel {
  background-color: #ff5100;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 0px;
  font-weight: 600;
  transition: 0.3s ease;
}

.book-btn:hover {
  background-color: #0015ff;
}

.small-text {
  font-size: 13px;
  color: #777;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
