@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
 

/* layouts */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Rialta, Helvetica Neue, Helvetica, Roboto, sans-serif !important;
  /* font-family: "DM Sans", sans-serif !important; */
  font-size: 13px;
   overflow-x: hidden;
}
html, body {
  height: 100%;
  margin: 0;
}
.profile-layout {
  min-height: calc(100vh - 70px - 300px); 
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;     
  width: 100%;
}

/* layouts */
 



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
iframe {
  width: 100%;
  height: 350px;
}
.map_img {
  width: 150px !important;
  height: 100px !important;
}

.cardheight {
  height: calc(100% - 0px);
}

._failed {
  border-bottom: solid 4px red !important;
}
._failed i {
  color: red !important;
}

._success {
  box-shadow: 0 15px 25px #00000019;
  padding: 45px;
  width: 100%;
  text-align: center;
  margin: 40px auto;
  border-bottom: solid 4px #28a745;
}

._success i {
  font-size: 55px;
  color: #28a745;
}

._success h2 {
  margin-bottom: 12px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 10px;
}

._success p {
  margin-bottom: 0px;
  font-size: 18px;
  color: #495057;
  font-weight: 500;
}

.css-1113vek-option {
  background-color: #92a3a396 !important;
}
.css-xbcl8m-option {
  background-color: #fff !important;
}

.gm-ui-hover-effect {
  /* background-color: green !important; */
  /* width: 24px !important; */
  /* height: 24px !important; */
  padding: 0;
}
.gm-style-iw-chr {
  display: flex !important;
  overflow: visible !important;
}
.gm-style-iw-ch {
  flex-shrink: 1 !important;
}

/*Service status Pdf */

.pdf-wrapper {
  height: 150px;
  overflow: hidden;
  border: none;
  position: relative;
  background-color: white;
  cursor: pointer;
}

.pdf-hidden-scroll {
  width: 370px;
  height: 150px;
  border: none;
  pointer-events: none;
  transform: translateX(-10px);
  transform: translate(-10px, -10px);
  overflow: hidden;
}

.image-wrapper {
  position: relative;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.offer_tag_property {
  position: absolute;
  top: 7px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  z-index: 2;
}
.offer_tag_property_preview {
  position: absolute;
  top: 7px;
  right: 10px;
  background: linear-gradient(90deg, #ff3b3b, #ff6b00);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  z-index: 2;
}

.p-tabview-nav li.p-highlight .p-tabview-nav-link {
  /* background-color: #f0f0f0 !important; */
  color: black !important;
}

/* Override inactive tab header */
.p-tabview-nav .p-tabview-nav-link {
  /* background-color: #e0e0e0 !important; */
  color: gray !important;
}

/* style={{ border: "1px solid rgb(217, 29, 29)", fontSize: "13px", fontWeight: "600", outline: "none" }} */
.card_remove_btn {
  border: 1px solid rgb(217, 29, 29);
  font-size: 13px;
  font-weight: 600;
  outline: none;
  background-color: red;
  color: white;
}

.section_container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* map viwe responsive */
@media (max-width: 1024px) and (min-width: 768px) {
  .all_property_title {
    font-size: 20px !important;
  }
}



